@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  background-color: rgb(17 24 39);
} */
* {
  font-family: monospace;
}
h1 {
  font-family: "Martian Mono", monospace;
}

.bg-image {
  background-image: url("/f1-bg.webp");
}
@media (max-width: 321px) {
  .table-width {
    width: fit-content;
  }
}

.table-width {
  width: fit-content;
}
